.form-wrapper {
  margin: auto;
  text-align: center;
  padding: 50px 0;

  h1 {
    padding-bottom: 20px;
  }
}

#contact-form {


  #form_phone {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .btn-send {
    background: $accent !important;
    &:hover {
      background: $accent-hvr !important;
    }
    &:active {
      background: $accent-act !important;
    }
  }

  input, textarea
  {
    display: block;
    width: 80%;
    height: 60px;
    margin-left:auto;
    margin-right:auto;
  }

  input[type=text], input[type=email], input[type=textarea], textarea
  {
    font: 300 15px/21px pragmatica,Helvetica,Arial,sans-serif;
    font-family: pragmatica, Helvetica, Arial, sans-serif;
    font-size: 1.20em;
    text-align:center;
    color:#BFBFBF;
    border-radius: 4px;
    margin-top:10px;
    margin-bottom:10px;
  }

  #question
  {
    height: 110px;
    font-size: 1.20em;
  }

  #solve_it
  {
    margin-left: auto;
    margin-right: auto;
    display:block;
    font: 300 15px/21px pragmatica,Helvetica,Arial,sans-serif;
    font-family: pragmatica, Helvetica, Arial, sans-serif;
    font-size: 1.20em;
    text-align:center;
  }

  #check_bot
  {
    display:none;
  }

  input[type=submit]
  {
    font-size: 1.15em;
    text-transform: uppercase;
    color: #EEEEEE;
    border-radius: 4px;
    background-color:#5C5C5C;
  }

}

.g-recaptcha > div {
  width: auto;
  margin: 0 auto;
  text-align: center;
}