.s-form-send {
  background: #fff;
  @include conf();
}

.form-send__title {
  margin: 0 auto 25px;
  text-align: center;

  h2 {
    width: auto;
  }
}

.form-send__b {
  padding-top: 20px;
  padding-bottom: 25px;
}

.form-send__msg {
  padding-bottom: 50px;
}

.form-send__item {
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

.form-send__btn {
  bottom: 0;
  background: $accent;
  &:hover {
    background: $accent-hvr;
  }
  &:active {
    background: $accent-act;
  }
}

.form-send__assessment label,
.form-send__visited label {
  font-weight: 700;
}

.form-send__item label {
  margin-bottom: 0;
}

.form-send__initials label {
  line-height: 26px;
  padding: 16px 0;
}

.form-send__contacts label {
  line-height: 26px;
  padding-bottom: 8px;
}

input {
  height: 58px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="text"],
input[type="tel"],
input[type="mail"],
textarea {
  background: #f2f2f2;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 16px 22px;
  font-family: 'PT Sans', Helvetica, sans-serif;
  border: none;
  outline: none;

  &:hover {
    background-color: darken(#f2f2f2, 5%);
  }
  &:active,
  &:focus {
    background-color: #fff;
    box-shadow: inset 0 0 4px darken(#f2f2f2, 10%);
  }
}

input[type="tel"],
input[type="mail"] {
  padding-left: 20px;
  padding-right: 78px;
}

.form-send__item-tel,
.form-send__item-mail {
  position: relative;
  &::after {
    position: absolute;
    width: 58px;
    height: 58px;
    line-height: 58px;
    right: 0;
    bottom: 0;
    background: #e6e6e6;
    pointer-events: none;
    font-size: 20px;
    font-family: FontAwesome;
    text-align: center;
  }
}

.form-send__item-tel::after {
  content: "\f095";
}
.form-send__item-mail::after {
  content: '\f0e0';
}

.r-indicator,
.ch-indicator {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  height: 56px;
  margin-right: 23px;
  background-color: #f2f2f2;
  border-radius: 50%;
  &::before,
  &::after {
    content: '';
    position: absolute;
  }
}

.form-send__item:hover .r-indicator,
.form-send__item:hover .ch-indicator {
  background-color: darken(#f2f2f2, 5%);
}

.form-send__item:hover:active .r-indicator,
.form-send__item:hover:active .ch-indicator {
  background-color: darken(#f2f2f2, 10%);
}

.form-send__item:active .r-indicator::before,
.form-send__item:active .r-indicator::after,
.form-send__item:active .ch-indicator::before,
c .ch-indicator::after {
  background-color: lighten(#f2f2f2, 50%);
}

.r-indicator::before {
  border-radius: 50%;
}

.ch-indicator {
  border-radius: 3px;
}

input:checked ~ .r-indicator::before,
input:checked ~ .ch-indicator::before,
input:checked ~ .ch-indicator::after {
  content: '';
  position: absolute;
  background: #333;
}

input:checked ~ .r-indicator::before {
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form-send__item:active:active input:checked ~ .r-indicator::before,
.form-send__item:active:active input:checked ~ .ch-indicator::before,
.form-send__item:active:active input:checked ~ .ch-indicator::after {
  background-color: lighten(#333, 50%);
}

input:checked ~ .ch-indicator::before {
  height: 22px;
  width: 5px;
  bottom: 18px;
  right: 20px;
  transform: rotate(45deg);
}

input:checked ~ .ch-indicator::after {
  height: 15px;
  width: 5px;
  bottom: 18px;
  left: 20px;
  transform: rotate(-45deg);
}

textarea {
  height: 160px;
  width: 100%;
}

// mobile only start
@media (max-width: 767px) {

  .form-send__b {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background: #e5e5e5;
      z-index: 1;
    }
  }

  .form-send__contacts span {
    display: none;
  }

  .form-send__required {
    display: none;
  }

  // mobile only end
}

// tablet start
@media (min-width: 768px) {

  .form-send__b {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .form-send__msg {
    padding-bottom: 55px;
  }

  .form-send__initials {
    padding-left: 5%;
  }

  .form-send__assessment {
    order: -1;
    position: relative;
    padding-right: 5%;
    &::after {
      content: '';
      position: absolute;
      top: 20px;
      bottom: 50px;
      right: 0;
      width: 1px;
      background: #e5e5e5;
      z-index: 1;
    }
  }

  .form-send__title-wrapper {
    margin-bottom: 30px;
  }

  .form-send__b {
    overflow: hidden;
  }

  .form-send__contacts .form-send__title,
  .form-send__visited .form-send__title,
  .form-send__msg .form-send__title {
    width: 400px;
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      background: #e5e5e5;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      left: -999px;
      right: 100%;
    }
    &::after {
      left: 100%;
      right: -999px;
    }
  }

  .form-send__required {
    padding: 16px 0;
    text-align: right;
  }

  // tablet end
}

// tablet only start
@media (min-width: 768px) and (max-width: 1199px) {
  .form-send__contacts label {
    padding-left: 23px !important;
  }

  .form-send__visited .form-send__item:nth-child(odd) {
    padding-left: 5%;
  }

  .form-send__visited .form-send__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  // tablet only end
}

// desktop start
@media (min-width: 1200px) {

  .s-form-send {
    padding: 0 120px;
  }

  .form-send__contacts .form-send__title,
  .form-send__visited .form-send__title,
  .form-send__msg .form-send__title {
    &::before {
      right: calc(100% + 60px);
    }
    &::after {
      left: calc(100% + 60px);
    }
  }

  .form-send__contacts label {
    padding: 16px 0;
  }

  .form-send__item-mail {
    padding-left: 5%;
  }

  .form-send__contacts .form-send__item,
  .form-send__visited .form-send__item {
    margin-bottom: 0;
  }

  // desktop end
}
