
#zoom {
  position: absolute;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  display: none; }

#view {
  margin: 30px auto;
  height: 355px !important;
  text-align: center; }

#view img {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); }

#thumbs {
  display: block;
  text-align: center;
  position: relative;
  margin: 20px 0; }

#nav-left-thumbs {
  left: 70px; }

#nav-right-thumbs {
  right: 70px; }

#nav-left-thumbs, #nav-right-thumbs {
  position: absolute;
  top: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  font-size: 1em;
  font-weight: bold;
  color: #999;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition-duration: .2s !important;
  -o-transition-duration: .2s !important;
  transition-duration: .2s !important; }

#nav-left-thumbs:hover, #nav-right-thumbs:hover {
  background: lightgrey; }

#pics-thumbs {
  position: relative;
  padding: 5px 0;
  margin: 0 122px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition-duration: .2s !important;
  -o-transition-duration: .2s !important;
  transition-duration: .2s !important; }

#pics-thumbs img {
  padding: 5px;
  margin: 0 2px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  height: 180px;
  -webkit-transition-duration: .2s !important;
  -o-transition-duration: .2s !important;
  transition-duration: .2s !important; }
#pics-thumbs img:checked {
  background: red !important; }

@media (max-width: 767px) {
  #view {
    height: 220px !important;
    width: 380px !important;
    display: block !important;
    margin: 5px auto  !important;
    height: auto; }
  #view img {
    width: 380px !important; }
  #nav-left-thumbs {
    left: 5px !important; }
  #nav-right-thumbs {
    right: 5px !important; }
  #thumbs {
    margin: 0 !important; }
  #pics-thumbs {
    padding: 0 !important;
    margin: 0 40px !important;
    width: auto !important; }
  #pics-thumbs img {
    height: 93.7px !important;
    padding: 3px !important;
    margin: 0 1px !important; } }

@media (min-width: 768px) and (max-width: 1199px) {
  #nav-left-thumbs {
    left: 60px !important; }
  #nav-right-thumbs {
    right: 60px !important; }
  #nav-left-thumbs, #nav-right-thumbs {
    top: 60px; }
  #pics-thumbs {
    margin: 0 auto !important;
    text-align: center !important;
    margin: 0 100px !important; }
  #pics-thumbs img {
    height: 156px !important; } }

@media (min-width: 1200px) {
  #view {
    margin: 30px auto;
    height: 600px !important;
    text-align: center; }
  #view img {
    width: 1080px !important; }
  #nav-left-thumbs {
    left: 60px !important; }
  #nav-right-thumbs {
    right: 60px !important; }
  #nav-left-thumbs, #nav-right-thumbs {
    top: 80px; } }
