// container-fluid
@mixin conf() {
  width: auto;
  padding: 0 20px;
  box-sizing: border-box;
  // tablet start
  @media (min-width: 768px) {
    margin: 0 auto;
    padding: 0 60px;
  // tablet end
  }
    // desktop start
    @media (min-width: 1200px) {
      //width: 95%;
      max-width: 1200px;

    // desktop end
    }
}

// @function name($px) {
//   @return $px / 16px + 0rem;
// }

//@mixin mob {
//  @media #{$mob-only} {
//    @content;
//  }
//}
//
//@mixin tab {
//  @media #{$tab-only} {
//    @content;
//  }
//}
//
//@mixin des {
//  @media #{$desk} {
//    @content;
//  }
//}
